html {
  overflow: auto;
}

.navleft {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.navright {
  color: black;
  font-size: 18px;
  text-decoration: none;
  position: fixed;
  left: 85%;
  top: 5%;
}

.header-top {
  background-color: whitesmoke;
  width: 100%;
  position: fixed;
  left: 0%;
  top: 0%;
}

.header-middle {
  background-color: #292828;
  color: white;
  position: fixed;
  top: 12%;
  width: 100%;
  height: 7%;
  left: 0%;
}

.header-last {
  background-color: whitesmoke;
  color: black;
  width: 100%;
  position: fixed;
  top: 19%;
  height: 12%;
  left: 0%;
}

#menu {
  position: fixed;
  left: 15%;
  top: 5%;
}

#deals {
  position: fixed;
  left: 19%;
  top: 5%;
}

#kfcimg {
  position: fixed;
  left: 9%;
  top: 5%;
}

#signlabel {
  position: fixed;
  top: 3%;
  right: 10%;
  font-weight: bold;
}

#acchead {
  position: fixed;
  right: 13.8%;
  top: 5%;
}

#carttext {
  position: fixed;
  top: 26px;
  right: 150px;
}

#cartimg {
  position: fixed;
  right: 100px;
  top: 26px;
  width: 50px;
}

.v1 {
  border-left: 2px solid grey;
  height: 25px;
  position: fixed;
  right: 182px;
  top: 40px;
}

#middletext {
  position: relative;
  left: 37%;
  top: 0px;
  font-size: 19px;
}

#orderbtn {
  position: relative;
  left: 60.5%;
  bottom: 50px;
  border-radius: 30px;
  width: 140px;
  height: 40px;
  background-color: #e4002b;
  border-color: #e4002b;
  color: #dbd9d9;
  font-weight: bold;
}

#welcome {
  font-weight: bold;
  padding-left: 15%;
  font-size: 35px;
}

article {
  position: fixed;
  top: 365px;
  padding-left: 290px;
}

#articleline {
  position: fixed;
  left: 630px;
  width: 1180px;
  top: 392px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 2px;
}

h2 {
  padding-bottom: 50px;
}

.card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 345px;
  height: 300px;
  margin: 1px;
}

.cardimage {
  width: 100%;
}

.cardtitle {
  padding-left: 100px;
  padding-top: 5px;
  font: 18px bold;
}

.kfcline {
  border-left: 8px solid red;
  height: 25px;
  position: relative;
  left: 290px;
}

#v2 {
  position: fixed;
  top: 175px;
  left: 275px;
}

#v3 {
  position: fixed;
  top: 175px;
  left: 304px;
}
