.navleft {
  color: black;
  font-size: 17px;
  text-decoration: none;
}

.navright {
  color: black;
  font-size: 17px;
  text-decoration: none;
}

.header-top {
  background-color: whitesmoke;
}

.header-middle {
  background-color: #292828;
  color: white;
}

.header-last {
  background-color: whitesmoke;
  color: black;
}

#menu {
  font-family: "Mukta", sans-serif;
}

#deals {
  font-family: "Mukta", sans-serif;
}

#signlabel {
  font-family: "Mukta", sans-serif;
  font-weight: bold;
}


#carttext {
  font-family: "Mukta", sans-serif;
}

#cartimg {
  width: 50px;
}

.v1 {
  border-left: 2px solid #d9dbda;
  height: 25px;
}

#middletext {
  font-size: 20px;
  font-family: "Anton", sans-serif;
}

#orderbtn {
  border-radius: 30px;
  width: 140px;
  height: 40px;
  background-color: #e4002b;
  border-color: #e4002b;
  color: #dbd9d9;
  font-weight: bold;
}

#welcome {
  font-size: 37px;
  font-family: "Anton", sans-serif;
}

article {
  padding-left: 290px;
}

#articleline {
  position: fixed;
  left: 610px;
  width: 1180px;
  top: 400px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 2px;
}

h2 {
  padding-bottom: 50px;
  font-family: "Anton", sans-serif;
  font-size: 30px;
}

.card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 335px;
  height: 300px;
  margin: 1px;
}

.cardimage {
  width: 100%;
}

.cardtitle {
  padding-left: 100px;
  padding-top: 5px;
  font: 18px bold;
  font-family: "Anton", sans-serif;
}

.kfcline {
  border-left: 8px solid #d6281c;
  height: 25px;
  position: fixed;
  left: 290px;
  top: 175px;
}

#v2 {
  position: fixed;
  left: 275px;
}

#v3 {
  position: fixed;
  left: 304px;
}


#buckimg{
  width: 50px;
}

nav{
  font-family: "Mukta", sans-serif;
  height: 80px;
  background-color: white;
  
}

.listitems{
  list-style: none;
  float: left;
}

#logo{
  padding-left: 3px;
  
}

#kfcimg{
  margin-top: 1.5%;
}


#menu {
  position: relative;
  left: 220px;
  top: 14px;
  font-size: 17px;
  font-weight: bold;
}

#deals {
  position: relative;
  left:300px;
  top: -14px;
  font-size: 17px;
  font-weight: bold;
}

.listitemsright{
  float: right;
  list-style: none;

}

#headimg{
  position: relative;
  left: -10px;
  top: 2px;
}

#signtext{
  position: relative;
  right: 100px;
  top: 6px;
  font-size: 17px;
  font-weight: bold;
}

#bucktext{
  position: relative;
  bottom: 55px;
  right: 15px;
  font-weight: bold;
}

#buckimg {
  position: relative;
  bottom:-18px ;
}

